{% extends 'base.html' %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png" alt="Third slide">
        <div class="carousel-caption d-none d-md-block" style="top: 35%;">
            <h1>About Page</h1>
            <p>...</p>
          </div>
      </div>      
    </div>   
</div>   
{% endblock content %}