{% extends 'base.html' %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://i.pinimg.com/originals/83/f9/37/83f937b69f30bb886ab8a03390da6771.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block" style="top: 35%;">
            <h1>Contact Page</h1>
            <p>...</p>
          </div>
      </div>      
    </div>   
</div>
{% endblock content %}