{% extends 'base.html' %}


{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block" style="top: 35%;">
            <h1>Home Page</h1>
            <p>...</p>
          </div>
      </div>      
    </div>   
</div>
{% endblock content %}