<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
        integrity="undefined" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>

    <div class="container mt-2" style="width: 60%;">
        <form class="needs-validation p-3" action="" method="POST" style="border: 2px solid blue;border-radius: 10px;">
            {% csrf_token %}
            <div align="center">
                <h3>Registration Form</h3>
            </div>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationTooltip01">First name</label>
                    <input type="text" class="form-control" id="validationTooltip01" name="fn" placeholder="First name"
                        required>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationTooltip02">Last name</label>
                    <input type="text" class="form-control" id="validationTooltip02" name="ln" placeholder="Last name"
                        value="Otto" required>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationTooltipUsername">Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                        </div>
                        <input type="email" class="form-control" id="validationTooltipUsername"
                            placeholder="Enter Email" aria-describedby="validationTooltipUsernamePrepend" name="email" required>
                        <div class="invalid-tooltip">
                            Please choose a unique and valid email
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">                   
                        <label for="inputState">Gender</label>
                        <select id="inputState" class="form-control" name="gender">
                          <option selected>Choose...</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                        </select>
                </div>

            </div>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationTooltip03">Contact</label>
                    <input type="text" class="form-control" id="validationTooltip03" placeholder="Phone Number" name="contact"
                        required>
                    <div class="invalid-tooltip">
                        Please provide a valid Contact Number
                    </div>
                </div>
                <div id="date-picker-example" class="col-md-6    mb-3 md-form md-outline input-with-post-icon datepicker">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationTooltip05">Zip</label>
                    <input type="text" class="form-control" id="validationTooltip05" placeholder="Zip" name="zipcode" required>
                    <div class="invalid-tooltip">
                        Please provide a valid zip.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip03">College Name</label>
                    <input type="text" class="form-control" id="validationTooltip03" placeholder="College Name" name="college"
                        required>
                    <div class="invalid-tooltip">
                        Please provide a valid Contact Number
                    </div>
                </div>
                <div class="col-md-6 mb-3">                   
                    <label for="inputState">Department</label>
                    <select id="inputState" class="form-control" name="dept">
                      <option selected>Choose...</option>
                      <option value="Information Technology">IT</option>
                      <option value="Computer">Computer</option>
                      <option value="Michenical">Michenical</option>
                      <option vallue="Electrical">Electrical</option>
                      <option value="Environmental">Environmental</option>
                      <option value="Civil">Civil</option>
                    </select>
            </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
    </div>











    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>